<article class="classlist">
<h5>Listing classrooms</h5>

<table>
  <tr>
    <th>Classroom Name</th>
    <th>Region</th>
    <th>Facilitator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @classrooms.each do |classroom| %>
  <tr>
    <td><%= classroom.name %></td>
    <td><%= classroom.region.name %></td>
    <td><%= classroom.facilitators.name %></td>
    <%if current_user.admin? %>
      <td><%= link_to link_to 'Edit', edit_classroom_path(classroom) %>
      <td><%= link_to "Delete", classroom, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
	</td>
    <td>
    	<% if current_user.present? && current_user.facilitator?%>
		  <% if current_user.classroom_id == classroom.id %>
		    <%= link_to 'Edit', edit_classroom_path(classroom) %> 
		  <%end%>
		<%end%>
	</td>
  </tr>
<% end %>
</table>

</article>



 