<article id="classroomstats">
<p id="notice"><%= notice %></p>
 
	<div class="classroom_info">
	    <% @classroom.facilitators.each do |user| %>
	   <h1><%= user.name%>'s Classroom - 
	    <%end%>
	   <%= @classroom.name %>,	
     <%= @classroom.region.name %></h1>
     
     <div class="classroom_content">
	 <div class="class_stats">
     <%= image_tag @classroom.map_url(:thumb).to_s%> <!--REGION IMAGE-->
     <div class="stats_box"> <!--TEXT BOX BELOW REGION IMAGE-->
     <h5>Stats</h5><p><%= @classroom.stat %></p>
     </div>
     </div>

     <div class="class_description"><!--DESCRIPTION BOX-->
     <h5>Description</h5><p><%= @classroom.description %></p>
     </div>
     </div>
     
     <div class="class_image"><!--CLASS ROOM IMAGE BOX-->
     <%= image_tag @classroom.image_url(:thumb).to_s%>
     </div>

 </div>

 <%Theme.all.each_with_index do |theme| %>

<div id="theme">
  <div id = "attachments">
<% @classroom.attachments.each do |attachment| %>
    <div class = "attachment">
<%if attachment.theme_id == theme.id%>
<%=theme.name%>
<%= link_to image_tag(attachment.thumbnail_url, :width => "200"), attachment_path(attachment) %>
      <div class = "title"><%=attachment.title %>
      </div>
<%end%>
    </div>
<%end%>
    <div class = "clear"></div>
  </div>
</div>
<%end%>



<div class="linkbox">
<%= link_to 'All Classrooms', classrooms_path %>
</div>
</article>
