<article id="classroomstats">
<p id="notice"><%= notice %></p>
 
	<div class="classroom_info">
	    <% @classroom.facilitators.each do |user| %>
	   <h1><%= user.name%>'s Classroom - 
	    <%end%>
	   <%= @classroom.name %>,	
     <%= @classroom.region.name %></h1>
     
     <div class="classroom_content">
	 <div class="class_stats">
     <%= image_tag @classroom.map_url(:thumb).to_s%>
     <div class="stats_box">
     <p>Stats<%= @classroom.stat %></p>
     </div>
     </div>

     <div class="class_description">
     <p>Description<%= @classroom.description %></p>
     </div>
     </div>
     
     <div class="class_image">
     <%= image_tag @classroom.image_url(:thumb).to_s%>
     </div>

 </div>

 <%Theme.all.each_with_index do |theme| %>
<div id="theme_#{theme.id}">
<div id = "attachments">
  <% @classroom.attachments.each do |attachment| %>
  <div class = "attachment">
    <%if attachment.theme_id == theme.id%>
    <%=theme.name%>
    <%if attachment.image.present? %>
	    <a href = "<%= attachment_path(attachment)%>"> <%= image_tag attachment.image_url(:thumb).to_s %></a>
    <%else%>
	    <%= link_to image_tag("youtube.png", :width => "200"), attachment_path(attachment) %>
    <%end%>
    <div class = "title"><%=attachment.title %> </div>
    <div class = "actions">
      <%= link_to "edit", edit_attachment_path(attachment) %> 
      <%= link_to "remove", attachment, :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <%end%>
  </div>
  <%end%>
  <div class = "clear"></div>
</div>
</div>
<%end%>

<% if current_user.present? && current_user.admin? %>
  <%= link_to "Delete Classroom", @classroom, :confirm => 'Are you sure?', :method => :delete %>
<%end%>

<% if current_user.present? && current_user.facilitator?%>
  <% if current_user.classroom_id == @classroom.id %>
    <%= link_to 'Edit', edit_classroom_path(@classroom) %> 
  <%end%>
<%end%>

<%= link_to 'All Classrooms', classrooms_path %>
</article>
