<p id="notice"><%= notice %></p>

<p>   
	<div>
	    <% @classroom.teachers.each do |user| %>
	   <h1><%= user.name%>'s Classroom -
	    <%end%>
	   <%= @classroom.name %>,
     <%= @classroom.region.name %></h1>
     <p>Stats<%= @classroom.stat %></p>
     <p>Description<%= @classroom.description %></p>
 </div>
</p>

<div id = "attachments">
  <% @classroom.attachments.each do |attachment| %>
  <div class = "attachment">
    <%if attachment.image.present? %>
	    <a href = "<%= attachment_path(attachment)%>"> <%= image_tag attachment.image_url(:thumb).to_s %></a>
			<div class = "title"><%=attachment.title %> </div>
    <%else%>
	    <%= link_to image_tag("youtube.png", :width => "200"), attachment_path(attachment) %>
    <%end%>
    <div class = "actions">
      <%= link_to "edit", edit_attachment_path(attachment) %> 
      <%= link_to "remove", attachment, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
  <%end%>
  <div class = "clear"></div>
</div>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
