<h1>Listing services_offereds</h1>

<table>
  <tr>
    <th>Current program</th>
    <th>New service</th>
    <th>Building capacity</th>
    <th>Kitchen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services_offereds.each do |services_offered| %>
  <tr>
    <td><%= services_offered.current_program %></td>
    <td><%= services_offered.new_service %></td>
    <td><%= services_offered.building_capacity %></td>
    <td><%= services_offered.kitchen %></td>
    <td><%= link_to 'Show', services_offered %></td>
    <td><%= link_to 'Edit', edit_services_offered_path(services_offered) %></td>
    <td><%= link_to 'Destroy', services_offered, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Services offered', new_services_offered_path %>
