<div class="admin_content">
	<h1>Administrative Options</h1>
	<div class="admin_options">
		<h5>Add Resources:</h5>
		<%= form_tag(admin_url, :method => :get) do -%>
		<%= hidden_field_tag :form_type, "add_classroom" %>
		<%= submit_tag 'Add Classroom', :class => 'submit_button' %>
	<% end %>
		<%= form_tag(admin_url, :method => :get) do -%>
		<%= hidden_field_tag :form_type, "add_facilitator" %>
		<%= submit_tag 'Add Facilitator', :class => 'submit_button' %>
	<% end %>
		<%= form_tag(admin_url, :method => :get) do -%>
		<%= hidden_field_tag :form_type, "add_theme" %>
		<%= submit_tag 'Create Theme', :class => 'submit_button' %>
	<% end %>
		<%= form_tag(admin_url, :method => :get) do -%>
		<%= hidden_field_tag :form_type, "add_attachment" %>
		<%= submit_tag 'Add Media attachment', :class => 'submit_button' %>
	<% end %>
		<%= form_tag(admin_url, :method => :get) do -%>
		<%= hidden_field_tag :form_type, "applicants" %>
		<%= submit_tag 'Applicant Listing', :class => 'submit_button' %>
	<% end %>
		<div class="edit_box">
			<h5>Edit Resources:</h5>
			<ul class="edit_list">
				<li><%=link_to "Edit Classrooms", classrooms_url, :class => "admin_button" %></li>
				<li><%=link_to "Edit Facilitators", facilitators_url%></li>
				<li><%=link_to "Edit Themes", themes_url%></li>
				<li><%=link_to "Edit Media", attachments_url%></li>
			</ul>
		</div>
	</div>
	<div class="admin_form">
	<% if @form_type.present? %>
		<%= render "forms/#{@form_type}" %>
	<% end %>
	</div>
</div>

