<h1>Admin Page</h1>

<div id="new" style="border:1px solid">
<%= form_tag(admin_url, :method => :get) do -%>
	<%= hidden_field_tag :form_type, "add_classroom" %>
	<%= submit_tag 'Add Classroom' %>
<% end %>

<%= form_tag(admin_url, :method => :get) do -%>
	<%= hidden_field_tag :form_type, "add_user" %>
	<%= submit_tag 'Add User' %>
<% end %>

<%= form_tag(admin_url, :method => :get) do -%>
	<%= hidden_field_tag :form_type, "add_theme" %>
	<%= submit_tag 'Create Theme Challenge' %>
<% end %>

<%= form_tag(admin_url, :method => :get) do -%>
	<%= hidden_field_tag :form_type, "add_attachment" %>
	<%= submit_tag 'Add Media attachment' %>
<% end %>

<%= form_tag(admin_url, :method => :get) do -%>
	<%= hidden_field_tag :form_type, "applicants" %>
	<%= submit_tag 'Applicant Listing' %>
<% end %>

<% if @form_type.present? %>
	<%= render "forms/#{@form_type}" %>
<% end %>


</div>

<br>

<div id="edit" style="border:1px solid">
	<%=link_to "Edit Classroom", classrooms_url%>
	<%=link_to "Edit Facilitator", users_url%>
	<%=link_to "Edit Theme", themes_url%>
	<%=link_to "Edit Media", attachments_url%>
</div>


