<%= form_for(@theme) do |f| %>
  <% if @theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
      <% @theme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Category" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :prompt %><br />
    <%= f.text_field :prompt %>
  </div>
   <div class="field">
    <%= f.label :current_theme, "Set to current theme" %><br />
    <%= f.check_box :current_theme %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
