<h1>Themes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Current Theme</th>
    <th></th>
    <th></th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.name %></td>
    <% if theme.current_theme? %>
      <td><%= "Selected" %></td>
    <% else %>
      <td><%= link_to "Select", current_theme_path(theme.id) %></td>
    <% end %>
    <td><%= link_to 'Show', theme %></td>
    <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
    <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%#= link_to 'New Theme', new_theme_path %>


<h1>Suggested Themes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @theme_suggestions.each do |theme| %>
  <tr>
    <td><%= theme.name %></td>
    <td><%= link_to 'Show', theme %></td>
    <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
<%if theme.user_id = session["user_id"] %>
    <td><%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%>
  </tr>
<% end %>
</table>

<div class="theme_suggestion">
<%= form_for(@theme_suggestion) do |f| %>
  <div class="field">
    <%= f.label :name, "New Suggestion"%><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, {:value => session["user_id"]} %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
</div>
