<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :classroom %><br />
    <%= f.text_field :classroom %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.collection_select :region_id, Region.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :size => "30x10", :placeholder => "i.e. indicate if your classroom resides in a different region" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
