<p id="notice"><%= notice %></p>


<div class"inputtext">
	  <p>Name:</p>
  <span class="field"><%= @applicant.name %></span>
</div>

<div class"inputtext">
  <b>Email:</b>
  <%= @applicant.email %>
</div>

<div class"inputtext">
  <b>Classroom:</b>
  <%= @applicant.classroom %>
</div>

<p>
  <b>Region:</b>
  <%= @applicant.region_id %>
</p>

<p>
  <b>Note:</b>
  <%= @applicant.note %>
</p>


<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
