<p>
  <% if @user.type == "Teacher" %>
  <b>Classroom:</b>
  <%= @user.classroom.name %>
  <%end%>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<!-- <p>
  <b>Email:</b>
  <%#= @user.email %>
</p> -->

<p>
  <b>Role:</b>
  <%= @user.type %>
</p>

<div id = "attachments">
    <%if @user.image.present? %>
	    <%= image_tag @user.image_url(:thumb).to_s %>
    <%end%>
  <div class = "clear"></div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
