<h1>Listing facilitators</h1>


<ul>
<% @facilitators.each do |facilitator| %>
  <li><%=facilitator.name%>
    <%= link_to 'Show', facilitator %>
    <%= link_to 'Edit', edit_facilitator_path(facilitator) %>
    <%= link_to 'Destroy', facilitator, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>


<br />

<%= link_to 'New Facilitator', new_facilitator_path %>
