<article class="facilitators_box">
<h1>Listing facilitators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facilitators.each do |facilitator| %>
  <tr>
    <td><%= facilitator.name %></td>
    <td><%= facilitator.email %></td>
    <td><%= facilitator.image  %></td>
    <%if current_user.admin? %>
      <td><%= link_to 'Edit', edit_facilitator_path(facilitator) %></td>
      <td><%= link_to 'Destroy', facilitator, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%></td>
  </tr>
<% end %>
</table>

</article>