<h1><%=@user.name%>'s Page</h1>
<h2>
	<%= @classroom.name %>
	<%= "(#{@region.name})" %>
</h2>

<%= form_tag(facilitator_url, :method => :get) do -%>
	<%= hidden_field_tag :form_type, "add_attachment" %>
	<%= submit_tag 'Add Media attachment' %>
<% end %>


<%= form_tag(facilitator_url, :method => :get) do -%>
	<%= hidden_field_tag :form_type, "edit_classroom" %>
	<%= submit_tag 'Update Classroom' %>
<% end %>

<% if @form_type.present? %>
 <%= render "#{@form_type}" %>
<% end %>