
<div class="theme_select">
  <h5>Theme For <%= Time.now.strftime("%B")%>:</h5>
  <h1><%= @theme_of_the_month.name %>!</h1>
  <br></br>
  <%= form_tag(root_url, :method => :get) do -%>
<% if @selected_theme.present?%>
  <%= select_tag :theme_id, options_from_collection_for_select(Theme.order("name"), :id, :name, @selected_theme.id)%>
<% else %>
  <%= select_tag :theme_id, options_from_collection_for_select(Theme.order("name"), :id, :name), :prompt => "See Previous Themes"%>
<% end %>
  <%= submit_tag 'Filter' %>
  <%= link_to 'clear', root_url %>
<% end %>
</div>
<div id="attachments">
<% @array_of_classrooms_by_theme_id.each do |classroom| %>
  <ul class="classroomAttachmentsByTheme">
    <h3>
      <%= link_to classroom.name, classroom_url(classroom.id) %>
    </h3>
    <h3>
      (<%= link_to classroom.region.name, region_url(classroom.region.id) %>)
    </h3>
      <% array_of_attachments_by_theme_id_and_classroom_id(@current_theme.id, classroom.id).each do |attachment| %>
    <li>
      <%= link_to image_tag(attachment.thumbnail_url), attachment_url(attachment.id) %>
      <h5><%= attachment.title %></h5>
       <% end %>
    </li>
  </ul>
<% end %>  
</div>      

 



