<h1>New Theme suggestions</h1>

<ul>
<% @theme_suggestions.each do |theme_suggestion| %>
<li><%= theme_suggestion.name %>
  <%if theme_suggestion.user_id = session["user_id"] %>
    <%= link_to 'Destroy', theme_suggestion, method: :delete, data: { confirm: 'Are you sure?'}%>
    <%end%>
  </li>
<%end%>
</ul>

<br />

<%= form_for(@theme_suggestion) do |f| %>
  <div class="field">
    <%= f.label :name, "New suggestion" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, {:value => session["user_id"]} %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
