<p id="notice"><%= notice %></p>



<%= form_tag(root_url, :method => :get) do -%>
  <% if @theme_id.present?%>
    <%= select_tag :theme_id, options_from_collection_for_select(Theme.order("name"), :id, :name,@theme_id)%>
  <% else %>
    <%= select_tag :theme_id, options_from_collection_for_select(Theme.order("name"), :id, :name), :prompt => "Select Theme"%>
  <% end %>

  <% if @classroom_id.present?%>
    <%= select_tag :classroom_id, options_from_collection_for_select(Classroom.order("name"), :id, :name,@classroom_id)%>
  <% else %>
    <%= select_tag :classroom_id, options_from_collection_for_select(Classroom.order("name"), :id, :name), :prompt => "Select Classroom"%>
  <% end %>

  <% if @region_id.present?%>
    <%= select_tag :region_id, options_from_collection_for_select(Region.order("name"), :id, :name,@region_id)%>
  <% else %>
    <%= select_tag :region_id, options_from_collection_for_select(Region.order("name"), :id, :name), :prompt => "Select Region"%>
  <% end %>

  <%= submit_tag 'Filter' %>
  <%= link_to 'clear', root_url %>
<% end %>

<h1>Listing assets</h1>

<ul><% @assets.each do |asset| %>
    <li>
    <div id = "assets">
      <% if asset.image? %>
        <%= image_tag asset.image_url(:thumb).to_s %>
      <%else%>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/<%=shorten(asset.youtube_url)%>" frameborder="0" allowfullscreen></iframe>
      <%end%>
      <br>
      <%= asset.title %><br>
    <%= asset.classroom.region.name %><br>
    </div>

  <%= link_to 'Show', asset %>
  <%= link_to 'Edit', edit_asset_path(asset) %>
  <%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>

<br />

<%= link_to 'New Asset', new_asset_path %>
