<p id="notice"><%= notice %></p>

<h1>Listing assets</h1>

<ul><% @assets.each do |asset| %>
    <li>
    <div id = "assets">
      <% if asset.image? %>
        <%= image_tag asset.image_url(:thumb).to_s %>
      <%else%>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/<%=shorten(@asset.youtube_url)%>" frameborder="0" allowfullscreen></iframe>
      <%end%>
      <br>
      <%= asset.title %><br>
    <%= asset.classroom.region.name %><br>
    </div>

  <%= link_to 'Show', asset %>
  <%= link_to 'Edit', edit_asset_path(asset) %>
  <%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>

<br />

<%= link_to 'New Asset', new_asset_path %>
