<%= form_for(@facilitator) do |f| %>
  <% if @facilitator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facilitator.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @facilitator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :name %><p/>
    <p><%= f.text_field :name %></p>
  </div>
  <div class="field">
    <p><%= f.label :email %><p/>
    <p><%= f.text_field :email %></p>
  </div>
  <div class="field separator">
    <%= f.label :classroom_id, "If this user is a facilitator, please choose a classroom for this user." %> <br>
    <%= f.collection_select :classroom_id, Classroom.all, :id, :name %>
  </div>
  <div class="separator">
    Upload a profile picture<br />
    <%= f.file_field :image %>
  </div>
  <div class="field separator">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field separator">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
