<%= form_for(@new_user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :name %><p/>
    <p><%= f.text_field :name %></p>
  </div>
  <div class="field">
    <p><%= f.label :email %><p/>
    <p><%= f.text_field :email %></p>
  </div>
<!--   <div class="field">
    <p><%= f.label :type %> (Please type Admin or Facilitator)</p>
    <p><%= f.text_field :type %></p> 
  </div> -->
  <div class="field">
    <%= f.label "If this user is a Facilitatory, please choose a classroom for this user." %> <br>
    <%= f.collection_select :classroom_id, Classroom.all, :id, :name %>
  </div>
  <div>
    Upload a profile picture<br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
