<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h6 class="separator">New Classrom:</h6>
  <div class="field separator">
    <%= f.label :region_id %>
    <%= f.collection_select :region_id, Region.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :stat %><br />
    <%= f.text_area :stat, :size => "30x10" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div class="separator">
    Upload a map:
    <%= f.file_field :map %>
  </div>
  <div class="separator">
    Upload a profile picture:
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>