<p id="notice"><%= notice %></p>

<h1><%= @region.name %></h1>
<%=image_tag @region.image_url(:thumb).to_s%>
<%=@region.description%>

 <ul>
  <% @region.classrooms.each do |classroom| %>
  <li><%= link_to (image_tag classroom.image_url.to_s), classroom %>
	<%= classroom.name %></li>
  <%end%>
</ul>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>


