<p id="notice"><%= notice %></p>

<p>
  <b>Children:</b>
  <%= @client_type.children %>
</p>

<p>
  <b>Num child:</b>
  <%= @client_type.num_child %>
</p>

<p>
  <b>Adult:</b>
  <%= @client_type.adult %>
</p>

<p>
  <b>Num adult:</b>
  <%= @client_type.num_adult %>
</p>

<p>
  <b>Lgbtq:</b>
  <%= @client_type.LGBTQ %>
</p>

<p>
  <b>Num :</b>
  <%= @client_type.num_ %>
</p>

<p>
  <b>Lgbtq:</b>
  <%= @client_type.LGBTQ %>
</p>

<p>
  <b>Young adult:</b>
  <%= @client_type.young_adult %>
</p>

<p>
  <b>Num young adult:</b>
  <%= @client_type.num_young_adult %>
</p>

<p>
  <b>Senior:</b>
  <%= @client_type.senior %>
</p>

<p>
  <b>Num senior:</b>
  <%= @client_type.num_senior %>
</p>

<p>
  <b>Immigrant:</b>
  <%= @client_type.immigrant %>
</p>

<p>
  <b>Num immigrant:</b>
  <%= @client_type.num_immigrant %>
</p>

<p>
  <b>Families:</b>
  <%= @client_type.families %>
</p>

<p>
  <b>Num families:</b>
  <%= @client_type.num_families %>
</p>

<p>
  <b>Military:</b>
  <%= @client_type.military %>
</p>

<p>
  <b>Num military:</b>
  <%= @client_type.num_military %>
</p>

<p>
  <b>Homeless:</b>
  <%= @client_type.homeless %>
</p>

<p>
  <b>Num homeless:</b>
  <%= @client_type.num_homeless %>
</p>

<p>
  <b>Offender:</b>
  <%= @client_type.offender %>
</p>

<p>
  <b>Num offender:</b>
  <%= @client_type.num_offender %>
</p>

<p>
  <b>Environment:</b>
  <%= @client_type.environment %>
</p>

<p>
  <b>Num environment:</b>
  <%= @client_type.num_environment %>
</p>

<p>
  <b>Disabled:</b>
  <%= @client_type.disabled %>
</p>

<p>
  <b>Num disabled:</b>
  <%= @client_type.num_disabled %>
</p>

<p>
  <b>Health:</b>
  <%= @client_type.health %>
</p>

<p>
  <b>Num health:</b>
  <%= @client_type.num_health %>
</p>

<p>
  <b>Purpose:</b>
  <%= @client_type.purpose %>
</p>

<p>
  <b>Population:</b>
  <%= @client_type.population %>
</p>


<%= link_to 'Edit', edit_client_type_path(@client_type) %> |
<%= link_to 'Back', client_types_path %>
