<%= form_for(@availability) do |f| %>
  <% if @availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% @availability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week_day %><br />
    <%= f.text_field :week_day %>
  </div>
  <div class="field">
    <%= f.label :shift %><br />
    <%= f.text_field :shift %>
  </div>
  <div class="field">
    <%= f.label :month_needed %><br />
    <%= f.text_field :month_needed %>
  </div>
  <div class="field">
    <%= f.label :volunteer_age %><br />
    <%= f.check_box :volunteer_age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
