<p id="notice"><%= notice %></p>

<p>
  <b>Week day:</b>
  <%= @availability.week_day %>
</p>

<p>
  <b>Shift:</b>
  <%= @availability.shift %>
</p>

<p>
  <b>Month needed:</b>
  <%= @availability.month_needed %>
</p>

<p>
  <b>Volunteer age:</b>
  <%= @availability.volunteer_age %>
</p>


<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
