<!DOCTYPE html>
<html>
<head>
  <title>Digital Schoolhouse</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>



</head>
<body>
<div id="container">
<header>
	<nav>
    <ul>
      <li>
      	<%= link_to "About", about_url %>
      </li>
<!-- Link for facilitator/admin -->
<% if logged_in? %>
<% if current_user.type == "Admin" %>
			<li>
				<%= link_to "Update", admin_url(current_user.id) %>
			</li>
<% elsif current_user.type == "Facilitator"%>
			<li>
				<%= link_to "Post New", facilitator_url(current_user.id) %>
			</li>
<% end %>
<% end %> 
<!-- Log in / Log out  -->
<% if logged_in? %>
			<li>
				<%= link_to "Logout", sessions_url, :method => :delete %>
			</li>
<% else %>
			<li>
				<%= link_to "Login", new_sessions_url %>
			</li>			
			<li>
				<%= link_to "Join", new_applicant_url %>
			</li>
<% end %>
		</ul>
		<p id="notice"><%= notice %></p>
	</nav>		
	<hgroup>
<!-- Links for all -->
<!-- left titles -->
		<h1><%= link_to "digital schoolhouse", root_url %></h1>
		<h3>Uniting kids in classrooms around the world.<br>
	Celebrating culture and media literacy.</h3>
		<div class="logo"></div>
	</hgroup>
</header>
<%= yield %>

<footer>
	<p>Digital School House 2012 &reg</p>
</footer>
</div>
<!--CONTAINER END-->
</body>
</html>
