<!DOCTYPE html>
<html>
<head>
  <title>Dsh2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
</head>
<body>
	
<div id="container">

<header>
	<nav>
        <ul>
        <li><div class="button"><%= link_to "About Us", about_url %></div></li>
		
		<!-- Link for facilitator/admin -->
		<% if logged_in? %>
			 
			<% if current_user.type == "Admin" %>
				<%= link_to "Admin Panel", admin_url(current_user.id) %>
			<% elsif current_user.type == "Facilitator"%>
				<%= link_to "Facilitator Panel", facilitator_url(current_user.id) %>
			<% end %>
		<% end %>
		  
		<!-- Log in / Log out  -->
		
		<% if logged_in? %>
		<li><div class="button"><%= link_to "Logout", sessions_url, :method => :delete %></div></li>
		<% else %>
		<li><div class="button"><%= link_to "Login", new_sessions_url %></div></li>
			
		<li><div class="button"><%= link_to "Join", new_applicant_url %></div></li>
		<% end %>
		</ul>
			</nav>		
			
		<hgroup>
		<!-- Links for all -->
		<!-- left titles -->
		<h1><%= link_to "Digital Schoolhouse", root_url %></h1>
		<h3>Uniting kids in classrooms around the world.<br>
		Celebrating culture and media literacy.</h3>
				<div class="logo"></div>
		</hgroup>

</header>

<article id="homepage">
<ul>
<li><img src="assets/thumb.jpg" width="200" height="140" title="Mr. Thao's Classroom (Thailand)" class="media"><p>Mr. Thao's Classroom<br>(Thailand)</p></li>
<li><img src="assets/thumb.jpg" width="200" height="140" title="Mr. Ryan's Classroom (Thailand)" class="media"><p>Mr. Ryan's Classroom<br>(Thailand)</p></li>
<li><img src="assets/thumb.jpg" width="200" height="140" title="Mr. Shakathula's Classroom (Thailand)" class="media"><p>Mr. Shakathula's Classroom<br>(Thailand)</p></li>
<li><img src="assets/thumb.jpg" width="200" height="140" title="Mrs. Perkins's Classroom (Thailand)" class="media"><p>Mrs. Perkins's Classroom<br>(Thailand)</p></li>
<li><img src="assets/thumb.jpg" width="200" height="140" title="Classroom Big Bear (Thailand)" class="media"><p>Classroom Big Bear<br>(Thailand)</p></li>
<li><img src="assets/thumb.jpg" width="200" height="140" title="Traditional Nankasa (Thailand)" class="media"><p>Traditional Nankasa<br>(Thailand)</p></li>
</ul>

</article>
<span>
<%= yield %>
</span>

<footer>
	<p>Digital School House 2012 &reg</p>
</footer>
</div><!--CONTAINER END-->

</body>
</html>
